<main class="main">
   <div class="container-fluid">
 <div *ngIf="!pageOk && !authOk && !page" class="wait">
        <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  </div>
<div *ngIf="pageOk && authOk && page" class="row gutter-20 animated slideInUp">
  <div class="col-md-3">
      <app-adscreate class="no-sm-no"></app-adscreate>
       <app-adsone class="no-big"></app-adsone>
       <app-adslist class="no-sm-no"></app-adslist>
       <app-adsmusic class="no-sm-no"></app-adsmusic>
       <app-adsmovies class="no-sm-no"></app-adsmovies>
  </div>
  <div class="col-md-6">
    <div class="mar-10"></div>
  <md-card class="shadow-2 content-update" >
   <md-card-header>
          <img  md-card-avatar src="{{auth.avatar}}">
          <md-card-title><a routerLink="/user/{{ auth.uid }}/{{auth.username | slugify}}">{{auth.name}}</a> {{page.createdAt | amTimeAgo:true}} ago! </md-card-title>
          <md-card-subtitle>{{page.type}} 
          </md-card-subtitle>
         <span class="pull-right-set"><button md-button [md-menu-trigger-for]="menu">
        <i class="fa fa fa-ellipsis-v fa-1x" aria-hidden="true"></i>
         </button></span>
        <md-menu #menu="mdMenu">
          <!-- <button md-menu-item>Hide</button>
          <button md-menu-item>Save Post</button>
          <button md-menu-item>Delete</button>-->
        </md-menu>
        
      </md-card-header>
      <img *ngIf="page.photoUrl" md-card-image src="{{page.photoUrl}}">
      <md-card-content>
        <h1 class="title">
           <div [innerHTML]="page.status | linky"></div>
        </h1>
      </md-card-content>
      <md-card-actions class="container-fluid">
       <div class="pull-left">
        <button md-button  (click)="showLove(page)"><i class="fa fa fa-heart fa-1x color-primary" aria-hidden="true"></i></button> {{page.rating}} showed love!
        </div>
        <div  class="pull-right">
        <button md-button *ngIf="page.type == 'Question'">Help Answer</button>
        
        </div>
        <div class="clearfix"></div>
      </md-card-actions>
      <app-socialshare [status]="page"></app-socialshare>
      <app-commentcard [status]="page">
      </app-commentcard>
      <div class="comments">
        <app-commentscard [status] = "page" [limit]="1000000">
        </app-commentscard> 
      </div>
  </md-card>
  </div>
  <div class="col-md-3">
     <app-adsone></app-adsone>
      <div *ngFor="let promo of promopages;  let i=index">
     <template [ngIf]="i<5">
      <app-promocardlist
        [promo]="promo"
      ></app-promocardlist>
     </template>
     </div>
  </div>
</div>
   </div>
</main>
