<div *ngIf="!newspagesOk" class="wait loader">
        <!--*ngIf="!statusesOk"<md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>-->
         <div class="brick"  *ngFor="let item of createRange(32)">
          <div class="timeline-wrapper">
            <div class="timeline-item">
              <div class="animated-background">
                  <div class="background-masker image"></div>
                  <div class="background-masker header-bottom"></div>
                  <div class="background-masker paragraph1-bottom"></div>
                  <div class="background-masker paragraph2-bottom"></div>
                  <div class="background-masker paragraph3-bottom"></div>
                  <div class="background-masker paragraph4-bottom"></div>
                  <div class="background-masker paragraph5-bottom"></div>
                  <div class="background-masker paragraph6-bottom"></div>
              </div>
            </div>
          </div>
        </div>
 </div>
<main class="main" *ngIf="newspagesOk">
  <div class="innertube">
          <div class="row gutter-0 text-center-sm">
            <div class="col-md-2">
            <button  md-button [mdMenuTriggerFor]="menu"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> <span class="sorter">Sort</span></button>
            <md-menu #menu="mdMenu" >
              <button md-menu-item (click)="stories()">All Stories</button>
              <button md-menu-item (click)="politics()">Politics</button>
              <button md-menu-item (click)="education()">Education</button>
              <button md-menu-item (click)="videos()">Videos</button>
              <button md-menu-item (click)="sport()">Sports</button>
            </md-menu>
            </div>
            <div class="col-md-4 quote">
              <blockquote class="no-sm-no"> One Place African Stories</blockquote>
            </div>
            <div class="col-md-6">
              <pagination-controls class="pull-right"  (pageChange)="p = $event" #api></pagination-controls>
            </div>
          </div>
          </div>

  <masonry  [useImagesLoaded]="true" class="row gutter-20">
    <masonry-brick class="col-md-3" *ngFor="let new of news | paginate: { itemsPerPage: 12, currentPage: p }">
       
      <app-homecard
        [status]="new"
        (checked)="onStatusChecked($event)"
      ></app-homecard>
     <div class="mar-15"></div>
    </masonry-brick>
  </masonry>
 
</main>
