.show-nav {
    position: absolute;
    top: 64px;
}
@media screen and (max-width: 769px){
 .show-nav {
    position: absolute;
    top: 56px;
}
}
.app-icon-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
}