
<footer class="footer-distributed">

			<div class="footer-left">

				<h3><a routerLink="/" class="cd-logo"><img src="assets/img/logo.png" alt="Logo"></a></h3>

				<p class="footer-links">
					<a routerLink="/">Home</a>
					·
					<a routerLink="/stories">News</a>
					·
					<a routerLink="/about">About</a>
					·
					<a routerLink="/questions">Questions</a>
					·
					<a routerLink="/places">Places</a>
				</p>
                 <p class="footer-links">
					<a routerLink="/music">Music</a>
					·
					<a routerLink="/users">Users</a>
					·
					<a routerLink="/movies">Movies</a>
					·
					<a routerLink="/terms">Terms</a>
					·
					<a routerLink="/dmca">DMCA</a>
				</p>
				<p class="footer-company-name">weytindey &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<<p><span>Help Desk Weytindey</span> Click Below.</p>>
				</div>

				<div>
					<i class="fa fa-clock-o"></i>
					<p>24/7 We are always available</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<button md-raised-button color="primary">Help Desk Chat</button>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					We are just a team of like minded people with love for motherland. We are trying to make information about Africa easily available
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>