
<div *ngIf="contactOn" class="contact-box">
	<div class="container">
    <div class="row gutter-10 chat-window col-sm-5 col-md-3" id="chat_window_1">
        <div class="col-sm-12 col-md-12">
        	<div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="pull-left">
                        <h3 class="panel-title"><i class="fa fa-commenting" aria-hidden="true"></i> Contact Us <span *ngIf="isAuthorized"> - {{ user.auth.displayName }}</span></h3>
                    </div>
                    <div class="pull-right" style="text-align: right;">
                        <span id="minim_chat_window" class="fa fa-minus icon_minim"></span>
                        <span class="fa fa-times icon_close"  (click)="closeChat()"></span>
                    </div>
                </div>
                <div class="panel-body msg_container_base">
					<span *ngIf="!isAuthorized">
						 <em>You Need to <a routerLink="/authentication">Log in</a> to make contact</em>
					</span>
					<div *ngIf="isAuthorized" >
						<div class="s-into">
							One way secured contact form for our users! This messages can only be seen by you and your contact administrator.
						</div>
					<div *ngIf="contactMessages">
						<div *ngFor="let message of contactMessages">
                    <div *ngIf="message.con_type === 'admin_main' && ms_key === message.mid" class="row gutter-10 msg_container base_sent">
                        <div class="col-md-10 col-sm-10">
                            <div class="messages msg_sent">
                                <p>{{message.message}}</p>
                                <time>{{message.username | shorten: 8: '.'}} • {{message.createdAt | amTimeAgo:true}} ago!</time>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 avatar">
                            <img src="{{message.avatar}}" alt="{{message.username}}" class=" img-responsive ">
                        </div>
                    </div>
                    <div *ngIf="message.con_type === 'sender_main' && ms_key === message.mid" class="row gutter-10 msg_container base_receive">
                        <div class="col-md-2 col-sm-2 avatar">
                            <img src="{{message.avatar}}" alt="{{message.username}}" class=" img-responsive ">
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="messages msg_receive">
                                <p>{{message.message}}</p>
                                <time>{{message.username | shorten: 8: '.'}} • {{message.createdAt | amTimeAgo:true}} ago!</time>
                            </div>
                        </div>
                    </div>
					</div>
						<div class="s-into" *ngIf="nomessages">
							  We are waiting to hear from you. All inquiries are welcomed!
						</div>
					</div>
					
					</div>
                </div>
                <div class="panel-footer">
					 <form *ngIf="isAuthorized" [formGroup]="contactForm" (ngSubmit)="submitContact(contactForm.value)">
						<div class="container">
						<div class="row gutter-0">
						  <div class="col-md-8">
								<div  class="form-group" [ngClass]="{'has-error':!contactForm.controls['message'].valid && contactForm.controls['message'].touched}">
									<md-input-container>
									<textarea mdInput class="form-control input-sm chat_input"
											placeholder="Write your message here..."
											maxlength="500"
											#characterCountHint [formControl]="contactForm.controls['message']">
									</textarea>
									<md-hint align="end">{{characterCountHint.value.length}} / 500</md-hint>
									</md-input-container>
								
								<!-- The hasError method can work with the built in validators but custom validators as well -->
								<div *ngIf="contactForm.controls['message'].hasError('required') && contactForm.controls['message'].touched" class="alert alert-danger">Type your message..</div>
								<div *ngIf="contactForm.controls['message'].hasError('minlength') && contactForm.controls['message'].touched" class="alert alert-danger">Message must be atleast 1 character long</div>
								<div *ngIf="contactForm.controls['message'].hasError('maxlength') && contactForm.controls['message'].touched" class="alert alert-danger">Message cannot be more than 500 characters long.</div>
								</div>
						  </div>
						 <div class="col-md-4 ">
                            <button md-raised-button color="primary" class="pull-right" type="submit" [disabled]="!contactForm.valid">Send</button>
                          </div>
						</div>
						</div>
					 </form>
                    </div>
    
    		</div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

</div>
<footer class="footer-distributed">

			<div class="footer-left">

				<h3><a routerLink="/" class="cd-logo"><img src="assets/img/logo.png" alt="Logo"></a></h3>

				<p class="footer-links">
					<a routerLink="/">Home</a>
					·
					<a routerLink="/stories">News</a>
					·
					<a routerLink="/about">About</a>
					·
					<a routerLink="/questions">Questions</a>
					·
					<a routerLink="/places">Places</a>
				</p>
                 <p class="footer-links">
					<a routerLink="/music">Music</a>
					·
					<a routerLink="/users">Users</a>
					·
					<a routerLink="/movies">Movies</a>
					·
					<a routerLink="/terms">Terms</a>
					·
					<a routerLink="/dmca">DMCA</a>
				</p>
				<p class="footer-company-name">weytindey &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<<p><span>Help Desk Weytindey</span> Click Below.</p>>
				</div>

				<div>
					<i class="fa fa-clock-o"></i>
					<p>24/7 We are always available</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<button md-raised-button color="primary" (click)="contactShow()">Help Desk Chat</button>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					We are just a team of like minded people with love for motherland. We are trying to make information about Africa easily available
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>