<main class="main">
  <div class="container-fluid">
     <div class="row gutter-10">
        <div class="col-md-3">
          <md-card>
          <img class="page-avatar" src="./assets/img/page-avatar.png" alt="page name">
          <h1 class="title page-title">Southern Cameroons SCNC</h1>
          <div class="author"> 
              Author: <a routerLink="">Oj Obasi</a>
              <time class="date">1 month ago.</time>
            </div>
           <div class="category">Type: Person</div>
          <div class="rating">Rating: <span class="color-primary">8/10</span></div>
          </md-card>
        </div>
        <div class="col-md-6">
          <md-card>
          <div class="header-txt">About:</div>
          <div class="description">
             Like RDFa and Microformats, Microdata's attributes help you specify that your content describes information of specific types, like reviews, people, information or events. For example, an person can have the properties name, nickname, url, title and affiliation. The following is an example of a short HTML block showing this basic contact information for Bob Smith:
          </div>
          <md-input-container >
              <textarea mdInput class="desc"
                    placeholder="Say something about Southern Cameroons SCNC!"
                    #characterCountHintText></textarea>
              <md-hint align="end">{{characterCountHintText.value.length}} / 500</md-hint>
             </md-input-container>
          </md-card>
        </div>
        <div class="col-md-3">
          ads
        </div>
     </div>
  </div>
</main>
<div class="photos">
  <div class="row">
  <div class="col-md-3">
      <img class="page-photo" src="./assets/img/page-avatar.png" alt="page name">
  </div>
  <div class="col-md-3">
      <img class="page-photo" src="./assets/img/page-avatar.png" alt="page name">
  </div>
  <div class="col-md-3">
      <img class="page-photo" src="./assets/img/page-avatar.png" alt="page name">
  </div>
  <div class="col-md-3">
      <img class="page-photo" src="./assets/img/page-avatar.png" alt="page name">
  </div>
  </div>
</div>
